{{#extend 'styles'}}

{{/extend}}

    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Modificar mi Empresa </h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">General Form</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-10 mx-auto">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Quick Example</h3>
              </div>
              <!-- /.card-header -->
              
              <!-- form start -->
              <form role="form" id="form-business-modificar" method="POST"> 
                  <div class="card-body">
                      <div class="form-row">
                          <div class="form-group col-md-6">
                              <label for="razon-social">Razon Social</label>
                              <input type="text" class="form-control" id="razon-social" name="razonSocial" value="{{empresa.razonSocial}}" disabled>
                          </div>
                          <div class="form-group col-md-6">
                              <label for="nombre-comercial">Nombre Comercial</label>
                              <input type="text" class="form-control" id="nombre-comercial" name="nombreComercial" value="{{empresa.nombreComercial}}" disabled>
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="direccion">Dirección</label>
                          <input type="text" class="form-control" id="direccion" placeholder="1234 Main St" name="direccion" value="{{empresa.direccion}}" disabled>
                      </div>
                      <div class="form-row">
                          <div class="form-group col-md-6">
                              <label for="estado">Estado</label>
                              <input type="text" class="form-control" id="estado" name="estado" value="{{empresa.estado}}" disabled>
                          </div>
                          <div class="form-group col-md-6">
                              <label for="tipo">Tipo</label>
                              <input type="text" class="form-control" id="tipo" name="tipo" value="{{empresa.tipo}}" disabled>
                          </div>
                      </div>
                      <div class="form-row">
                          <div class="form-group col-md-4">
                              <label for="departamento">Departamento</label>
                              <input type="text" class="form-control" id="departamento" name="departamento" value="{{empresa.departamento}}" disabled>
                          </div>
                          <div class="form-group col-md-4">
                              <label for="provincia">Provincia</label>
                              <input type="text" class="form-control" id="provincia" name="provincia" value="{{empresa.provincia}}" disabled>
                          </div>
                            <div class="form-group col-md-4">
                              <label for="distrito">Distrito</label>
                              <input type="text" class="form-control" id="distrito" name="distrito" value="{{empresa.distrito}}" disabled>
                          </div>
                      </div>
                      <label for="inputState" class="w-100">Redes</label>

                      <div class="input-group mb-3">
                          <div class="input-group-prepend">
                              <span class="input-group-text">
                                  <i class="fas fa-envelope"></i>
                              </span>
                          </div>
                          {{#if empresa.redes}}
                            <input type="url" class="form-control" placeholder="Facebbok" name="facebook" value="{{empresa.redes.facebook}}"/>
                          {{else}}
                            <input type="url" class="form-control" placeholder="Facebbok" name="facebook"/>
                          {{/if}}
                          
                      </div>

                      <div class="input-group mb-3">
                          <div class="input-group-prepend">
                              <span class="input-group-text">
                                  <i class="fas fa-envelope"></i>
                              </span>
                          </div>
                          {{#if empresa.redes}}
                            <input type="url" class="form-control" placeholder="Website" name="web" value="{{empresa.redes.web}}"/>
                          {{else}}
                             <input type="url" class="form-control" placeholder="Website" name="web"/>
                          {{/if}}                          
                         
                      </div>

                      <div class="input-group mb-3">
                          <div class="input-group-prepend">
                              <span class="input-group-text">
                                  <i class="fas fa-envelope"></i>
                              </span>
                          </div>
                          {{#if empresa.redes}}
                            <input type="url" class="form-control" placeholder="Otra red" name="red" value="{{empresa.redes.red}}"/>
                          {{else}}
                            <input type="url" class="form-control" placeholder="Otra red" name="red"/>
                          {{/if}}   
                          
                      </div>
                  </div>
                  <div class="card-footer text-right">
                      <button type="submit" class="btn btn-primary">Actualizar</button>
                  </div>
                  
              </form>
            </div>
            <!-- /.card -->
          </div>
          <!--/.col (left) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->

{{#extend 'scripts'}}

{{/extend}}